body {
   background-color: moccasin;
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
}

.produit {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 13px;
   width: 100%;
   max-width: 600px;
   margin: 20px auto;
}

@media (min-width: 768px) {
   .produit {
      grid-template-columns: repeat(3, 1fr);
      margin: 30px;
   }
}

@media (max-width: 400px) {
   .produit {
      grid-template-columns: repeat(1, 1fr);
      margin: 30px;
      padding-right:40px ;
   }
}

.carte {
   border-radius: 20px;
   padding-top: 0px; 
   box-shadow: inset 2px 2px 12px black;
   opacity: 0; 
   animation: apparition 0.5s ease-out forwards;
}

.img {
   height: 120px;
   width: 100%;
   max-width: 181px;
   object-fit: cover;
   padding: 5px;
   margin: 6px auto;
   display: block;
}

.etoile {
   display: flex;
}

.panier {
  opacity: 0;
  animation: aiger 0.5s ease-out forwards;
  animation-delay: 1s;
}

.pani {
  width: 100%;
}

@media (min-width: 768px) {
  .pani {
    float: right;
    margin-left: 50px;
    margin-top: 175px;
  }
}

/* Animations */
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes aiger {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.carte:nth-child(1) { animation-delay: 1.5s; }
.carte:nth-child(2) { animation-delay: 1.6s; }
.carte:nth-child(3) { animation-delay: 1.7s; }
.carte:nth-child(4) { animation-delay: 2s; }
.carte:nth-child(5) { animation-delay: 1.9s; }
.carte:nth-child(6) { animation-delay: 1.8s; }
.carte:nth-child(7) { animation-delay: 2.1s; }
.carte:nth-child(8) { animation-delay: 2.3s; }
.carte:nth-child(9) { animation-delay: 2.4s; }